<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Posix" version="4.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="RestWrapper" version="1.0.5" targetFramework="net46" />
  <package id="SyslogLogging" version="1.0.8" targetFramework="net46" />
  <package id="Watson" version="1.1.0" targetFramework="net46" />
</packages>